html {
  height: 100%;
}

body {
    position: relative;
    background: #E5E5E5;
    font-family: 'Noto Serif', serif;
    padding: 0;
    margin: 0;
    min-height: 100%;
}

.header {
    width: 75%;
    margin: 0;
    padding-bottom: 0;
    background-color: #E5E5E5;
    position: fixed;
    top: 0;
    z-index: 100;
}

hr {
    margin: 0;
}

main {
    max-width: 75%;
    margin: 0 auto;
    padding-bottom: 120px;
}

footer {
    position: absolute;
    width: 98.65%;
    bottom: 0;
    background: #9f9f9f;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 10px;
    height: 120px;
}

h2 {
    margin-bottom: 50px;
}

.navigation-list {
    padding: 0;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    justify-content: space-between;
}

.navigation-item {
    display: flex;
    align-items: center;
}

.navigation-item:last-child {
    margin-right: 0;
}

.navigation-item a {
    color: #070707;
    text-decoration: none;
}

.navigation-item a:hover {
    opacity: 0.5;
}

.navigation-item a:active {
    opacity: 0.3;
}

h1 {
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
}

.who-is-php {
    display: block;
    margin: 0 auto;
    margin-bottom: 100px;
}

.php-paragraph {
    display: flex;
    margin-bottom: 100px;

}

.php-paragraph.reversed {
    flex-direction: row-reverse;
    justify-content: space-between;
}

.php-paragraph.reversed .paragraph-image{
    margin: 0;
    margin-left: 50px;
}

.paragraph-image {
    margin-right: 50px;
    width: 300px;
    height: 300px;
}

.paragraph-content {
    margin: 0;
    font-size: 18px;
}

h2 {
    font-size: 30px;
}

.reversed-title {
    text-align: right;
}

.todo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.todo-title {
    text-align: center;
}

.todo-text {
    display: inline-block;
    vertical-align: middle;
    width: 30%;
    border: 1px solid #bfbfbf;
    text-align: center;

}

.toknow {
    margin-bottom: 100px;
}

.toknow-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.toknow-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
}

.toknow h2 {
    text-align: center;
}

.years-statistics {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 50px;
}

.years-statistics-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    border: #070707;
    margin: auto;
}

.skills {
    justify-content: center;
    margin-bottom: 50px;
}

.years-statistics-item h2 {
    font-size: 24px;
    text-align: center;
}

.stats-table {
    text-align: center;
    border-collapse: collapse;
    margin-bottom: 25px;
}

.stats-table-item {
    border: 2px solid black;
    width: 220px;
}

footer p {
    margin: 0;
    margin-bottom: 10px;
}

.vacancies-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.vacancy {
    width: 100%;
    border: 1px solid grey;
    margin-bottom: 30px;
    padding: 15px;
}

.vacancy-url {
    color:#070707;
    text-decoration: none;
}

.vacancy-title {
    font-size: 24px;
    text-align: center;
}

.vacancy-description, .vacancy-skills, .vacancy-company, .vacancy-salary, .vacancy-area-name, .vacancy-published-at {
    font-size: 18px;
}

.table-button {
    background-color: #b9b6b6;
    height: 40px;
    border: 1px solid #9f9f9f;
}

.table-button:hover {
    background-color: #c7c7c7;
}

.table-button:active {
    background-color: #dbdada;
}

.stats-image {
    margin-bottom: 30px;
}

.stats-form {
    position: fixed;
    display: flex;
    flex-direction: column;
    margin: 0;
    right: 37%;
    width: 25%;
    left: 36%;
    padding: 20px;
    background-color: white;
    border: 2px solid #9f9f9f;
    z-index: 10;
}

.close {
    width: 100%;
    height: 30px;
    background-color: #b9b6b6;
    border: 1px solid #9f9f9f;
}

.close:hover {
    background-color: #c7c7c7;
}

.close:active {
    background-color: #dbdada;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vacancies-button {
    padding: 15px;
    text-align: center;
    width: 30%;
    background-color: #b9b6b6;
    border: 1px solid #9f9f9f;
}

.input-form {
    margin-bottom: 20px;
    width: 30%;
}

.vacancies-button:hover {
    background-color: #c7c7c7;
}

.vacancies-button:active {
    background-color: #dbdada;
}

.hidden {
    display: none;
}