<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{%static  "css/style.css" %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">
  <title>География</title>
</head>
<body>
  <main>

    <div class="header">
        <nav class="navigation">
          <ul class="navigation-list">
            <li class="navigation-item">
              <a href="..">Главная</a>
              </li>
            <li class="navigation-item">
              <a href="/demand">Востребованность</a>
            </li>
            <li class="navigation-item">
              <a href="/geography"><b>География</b></a>
            </li>
            <li class="navigation-item">
              <a href="/skills">Навыки</a>
            </li>
            <li class="navigation-item">
              <a href="/latest_vacancies">Последние вакансии</a>
            </li>
          </ul>
        </nav>
        <hr>
      </div>
    <h1>География</h1>
    <div class="years-statistics">

      {% for graph in graphs %}
        <div class="years-statistics-item">
          <h2>{{ graph.name }}</h2>
          <img src="{{ graph.image.url }}" width="450" class="stats-image">
          <button class="table-button {{graph.stat}}" type="button">Показать таблицу</button>
          <div class="stats-form {{graph.stat}} hidden">
          <table class="stats-table">
            {% if graph.stat == 'cities_salary' %}
              {% for line in salary_table %}
              <tr>
                <td class="stats-table-item">{{ line.city }}</td>
                <td class="stats-table-item">{{ line.salary }}</td>
              </tr>
              {% endfor %}
            {% else %}
              {% for line in percent_table %}
              <tr>
                <td class="stats-table-item">{{ line.city }}</td>
                <td class="stats-table-item">{{ line.percent }}</td>
              </tr>
              {% endfor %}
            {% endif %}
          </table>
          <button type="button" class="close {{graph.stat}}">Закрыть</button>
        </div>
        </div>
      {% endfor %}
    </div>
    <script src="{%static  "js/main.js" %}"></script>
  </main>

  <footer>
    <p>Кирионенко Михаил Александрович</p>
    <p>РИ-210941</p>
    <a href="https://github.com/WinoHare/ElearnKirionenko/tree/project">
        <img src="{%static  "images/github.png" %}" alt="GitHub" width="50">
    </a>
  </footer>
</body>