<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{%static  "css/style.css" %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="{% static "images/logo.ico" %}">
  <title>География</title>
</head>
<body>
  <main>

    <div class="header">
        <nav class="navigation">
          <ul class="navigation-list">
            <li class="navigation-item">
              <a href="..">Главная</a>
              </li>
            <li class="navigation-item">
              <a href="/demand">Востребованность</a>
            </li>
            <li class="navigation-item">
              <a href="/geography"><b>География</b></a>
            </li>
            <li class="navigation-item">
              <a href="/skills">Навыки</a>
            </li>
            <li class="navigation-item">
              <a href="/latest_vacancies">Последние вакансии</a>
            </li>
          </ul>
        </nav>
        <hr>
      </div>
    <h1>География</h1>

    <div class="stats-form hidden">
        <button type="button" class="close">Закрыть</button>
    </div>
    <div class="years-statistics">
      {% for city in cities %}
        <div class="years-statistics-item">
          <h2>{{ city.title }}</h2>
          <img src="{{ city.graph.url }}" width="450" class="stats-image">
            {{ city.table|safe }}
          <button class="table-button {{city.stat}}" type="button">Показать таблицу</button>

        </div>
      {% endfor %}
    </div>
    <script src="{%static  "js/main.js" %}"></script>
  </main>

  <footer>
    <p>Кирионенко Михаил Александрович</p>
    <p>РИ-210941</p>
    <a href="https://github.com/WinoHare/ElearnKirionenko/tree/project">
        <img src="{%static  "images/github.png" %}" alt="GitHub" width="50">
    </a>
  </footer>
</body>