<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{%static  "css/style.css" %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">
  <title>Кто этот ваш PHP?</title>
</head>
<body>
  <main>

    <div class="header">
      <nav class="navigation">
        <ul class="navigation-list">
          <li class="navigation-item">
          <img src="{%static  "images/logo.png" %}" width="75px" height="50px">
          </li>
          <li class="navigation-item">
            <a href=".."><b>Главная</b></a>
            </li>
          <li class="navigation-item">
            <a href="/demand">Востребованность</a>
          </li>
          <li class="navigation-item">
            <a href="/geography">География</a>
          </li>
          <li class="navigation-item">
            <a href="/skills">Навыки</a>
          </li>
          <li class="navigation-item">
            <a href="/latest_vacancies">Последние вакансии</a>
          </li>
        </ul>
      </nav>
      <hr>
    </div>

    <h1>Кто этот ваш PHP разработчик?</h1>
    <div class="php-image">
      <img src="{%static  "images/who_is_php.jpg" %}" width="800" class="who-is-php"> 
    </div>

    <h2>Откуда все началось?</h2>
    <div class="php-paragraph">
      <img src="{{ first_paragraph.image.url }}" width="550" class="paragraph-image">
      <p class="paragraph-content">
        {{ first_paragraph.text_content }}
      </p>
    </div>

    <h2 class="reversed-title">А чем занимается?</h2>
    <div class="php-paragraph reversed">
      <img src="{{ second_paragraph.image.url }}" width="550" class="paragraph-image">
      <p class="paragraph-content">
        {{ second_paragraph.text_content }}
      </p>
    </div>

    <h2 class="todo-title">Что по задачам?</h2>
    <div class="todo">
        {% for todo in ToDos %}
            <p class="todo-text">{{ todo.name }}</p>
        {% endfor %}
    </div>

    <div class="toknow">
      <h2>Что нужно знать для Джуна?</h2>
      <ul class="toknow-list">
          {% for skill in skills %}
            <li class="toknow-item">
              <img src="{{ skill.image.url }}" width="64">
              <p>{{ skill.name }}</p>
            </li>
          {% endfor %}
      </ul>
    </div>

  </main>

  <footer>
    <p>Кирионенко Михаил Александрович</p>
    <p>РИ-210941</p>
    <a href="https://github.com/WinoHare/ElearnKirionenko/tree/project">
      <img src="{%static  "images/github.png" %}" alt="GitHub" width="50">
    </a>
  </footer>
</body>