<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{%static  "css/style.css" %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="{% static "images/logo.ico" %}">
  <title>Последние вакансии</title>
</head>
<body>
  <main>

    <div class="header">
        <nav class="navigation">
          <ul class="navigation-list">
            <li class="navigation-item">
              <a href="..">Главная</a>
              </li>
            <li class="navigation-item">
              <a href="/demand">Востребованность</a>
            </li>
            <li class="navigation-item">
              <a href="/geography">География</a>
            </li>
            <li class="navigation-item">
              <a href="/skills">Навыки</a>
            </li>
            <li class="navigation-item">
              <a href="/latest_vacancies"><b>Последние вакансии</b></a>
            </li>
          </ul>
        </nav>
        <hr>
      </div>
    <h1>Последние вакансии</h1>
    <div class="input-container">
        <p class="input-text">Введите любое число декабря</p>
        <input type="number" class="input-form" min="1" max="31">
        <button type="button" class="vacancies-button">Показать вакансии</button>
    </div>

    <div class="vacancies-list"></div>
    <template class="vacancy-template" id="vacancy">
          <div class="vacancy">
            <a href="" class="vacancy-url">
              <h3 class="vacancy-title"></h3>
            </a>
              <p class="vacancy-description"><b>Описание:</b> <span class="description"></span></p>
              <p class="vacancy-skills"><b>Необходимые скилы:</b> <span class="skills"></span></p>
              <p class="vacancy-company"><b>Компания:</b> <span class="company"></span></p>
              <p class="vacancy-salary"><b>Оклад:</b> <span class="salary"></span></p>
              <p class="vacancy-area-name"><b>Где работать:</b> <span class="area-name"></span></p>
              <p class="vacancy-published-at"><b>Дата публикация:</b> <span class="published-at"></span></p>
          </div>
      </template>
  <script src="{%static  "js/vacancies.js" %}"></script>

  </main>

  <footer>
    <p>Кирионенко Михаил Александрович</p>
    <p>РИ-210941</p>
    <a href="https://github.com/WinoHare/ElearnKirionenko/tree/project">
        <img src="{%static  "images/github.png" %}" alt="GitHub" width="50">
    </a>
  </footer>


</body>